<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
			<typeAlias type="com.web.jomaltwo.model.AdminDTO" alias ="AdminDTO"/>
			<typeAlias type="com.web.jomaltwo.model.CategoryDTO" alias ="CategoryDTO"/>
			<typeAlias type="com.web.jomaltwo.model.ProductDTO" alias ="ProductDTO"/>
	</typeAliases>
</configuration>