<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.web.jomaltwo.mapper.CategoryMapper">
  
     <insert id="categoryInput" parameterType="CategoryDTO">
            INSERT INTO category (code,cate_name) VALUES(#{code},#{cate_name})
   	 </insert>
   	 
   	 <select id="categoryShow" resultType="CategoryDTO">
   	 		SELECT * FROM category limit #{startIndex}, #{cntPerPage}
   	 </select>
   	 
   	 <select id="categoryAllShow" resultType="CategoryDTO">
   	 		SELECT * FROM category
   	 </select>
   	 
   	 <delete id="categoryDelete" parameterType="Integer">
   	 		DELETE FROM category WHERE cate_num = #{cate_num}
   	 </delete>
   	 
   	 <update id="categoryUpdate" parameterType="CategoryDTO">
   	 		<!-- 상품에있는 Pname과 연관시켜서 상풍 변경 시켜야함 -->
   	 		UPDATE category SET code = #{code}, cate_name = #{cate_name} WHERE cate_num = #{cate_num}
	 </update>
	 
	 <select id="totalCnt" resultType="Integer">
   		SELECT count(*) FROM category
	  </select>
   
</mapper>