<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.web.jomaltwo.mapper.OrderMapper">

	   <insert id="orderInsert" parameterType="PaymentInfoDTO" >
		 	  INSERT INTO orders (order_id, member_id, order_date, total_amount,receiver_name,receiver_phone,shipping_address)
  			  VALUES (#{order_id},#{member_id}, now(), #{total_amount},#{receiver_name},#{receiver_phone},#{shipping_address})
	   </insert>					
  
   
</mapper>