<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.web.jomaltwo.mapper.PaymentHistoryMapper">

	   <select id="getPaymentHistory" resultType="PaymentHistoryDTO" parameterType="string" >
	    SELECT
	        p.pName AS productName,
	        o.order_date AS purchaseDate,
	        oi.quantity AS purchaseQuantity,
	        oi.quantity * p.price AS purchasePrice, <!-- 구매 수량 * 상품 가격 -->
	        o.order_state AS purchaseStatus
	    FROM
	        orders AS o
	        INNER JOIN order_items AS oi ON o.order_id = oi.order_id
	        INNER JOIN product AS p ON oi.product_id = p.pNum
	    WHERE
	        o.member_id = #{memberId}
        ORDER BY
        	o.order_date DESC    
	    </select>				
  		
		 <select id="totalCnt" resultType="Integer">
		    SELECT
		        COUNT(oi.product_id)
		    FROM
		        orders AS o
		        LEFT JOIN order_items AS oi ON o.order_id = oi.order_id
		        LEFT JOIN product AS p ON oi.product_id = p.pNum
		 
	         <where>
	            <include refid="PaymentHistoryBySearch"></include>
    			<if test="start_date != null and end_date != null">
     			 AND o.order_date BETWEEN #{start_date, jdbcType=DATE, javaType=java.time.LocalDate} AND #{end_date, jdbcType=DATE, javaType=java.time.LocalDate}
    			</if>
  			</where>
       		
		</select>
   		
   		
   		<select id="getAllPaymentHistory" resultType="PaymentHistoryDTO">
		  SELECT
		        o.member_id AS memberId,
		        p.pName AS productName,
		        o.order_date AS purchaseDate,
		        oi.quantity AS purchaseQuantity,
		        oi.quantity * p.price AS purchasePrice,
		        o.order_state AS purchaseStatus,
		        o.shipping_address AS shippingAddress
    		FROM
        		orders AS o
        		LEFT JOIN order_items AS oi ON o.order_id = oi.order_id
        		LEFT JOIN product AS p ON oi.product_id = p.pNum
		    
		    
		     <where>
		     	<include refid="PaymentHistoryBySearch"></include>    
   				 <if test="start_date != null and end_date != null">
     				 AND o.order_date BETWEEN #{start_date, jdbcType=DATE, javaType=java.time.LocalDate} AND #{end_date, jdbcType=DATE, javaType=java.time.LocalDate}
   				 </if>
  			</where>
		    
		     ORDER BY
		        o.order_date DESC LIMIT #{startIndex}, #{cntPerPage}   
		</select>
		
		
		<sql id="PaymentHistoryBySearch">
	  
		  	<if test= 'searchType == "I"'>
		  		o.member_id LIKE CONCAT('%',#{keyWord},'%')
		  	</if>
		  	
			<if test= "searchType == 'N'.toString()">
		  		p.pName LIKE CONCAT('%',#{keyWord},'%')
		  	</if>
	  
	   </sql>
	   
 
   		
   		
   		
</mapper>