<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.web.jomaltwo.mapper.PaymentHistoryMapper">

	   <select id="getPaymentHistory" resultType="PaymentHistoryDTO" parameterType="string" >
	    SELECT
	        p.pName AS productName,
	        o.order_date AS purchaseDate,
	        oi.quantity AS purchaseQuantity,
	        oi.quantity * p.price AS purchasePrice, <!-- 구매 수량 * 상품 가격 -->
	        o.order_state AS purchaseStatus
	    FROM
	        orders AS o
	        INNER JOIN order_items AS oi ON o.order_id = oi.order_id
	        INNER JOIN product AS p ON oi.product_id = p.pNum
	    WHERE
	        o.member_id = #{memberId}
        ORDER BY
        	o.order_date DESC    
	    </select>				
  
   
</mapper>