<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.web.jomaltwo.mapper.UserMapper">

	<insert id="userInput" parameterType="UserDTO">
		INSERT INTO shop_member (id,pw,name,age,email,phone,zipcode,road_addr,jibun_addr,detail_addr) 
		VALUES(#{id},#{pw},#{name},#{age},#{email},#{phone},#{zipcode},#{road_addr},#{jibun_addr},#{detail_addr})
	</insert>
	
	<select id="idCheck" resultType="UserDTO">
		SELECT * FROM shop_member WHERE id = #{uid}
	</select>
	
	<select id="userLogin" parameterType="UserDTO" resultType="UserDTO">
		SELECT * FROM shop_member WHERE id = #{id}
	</select>
	
	
		<select id="findId" resultType="String">
	   	  <!-- ifnull은 오라클의 nvl() 같은 명령, id가 null이면 0을 반환 -->
	      SELECT IFNULL(id, 0) FROM shop_member WHERE name=#{name} AND phone=#{phone}
	   </select>
   
	   <update id="findPw" parameterType="Map">
	   		UPDATE shop_member SET pw=#{param3} 
	   		WHERE id=#{param1} AND email=#{param2}
	   </update>
	   
	   	<update id="userInfoUpdate" parameterType="UserDTO">
	   		UPDATE shop_member SET name =#{name}, email =#{email}, phone=#{phone}
	   		WHERE id=#{id} 
	   </update>
	   
   	<select id="userInfo" parameterType="String" resultType="UserDTO">
		SELECT * FROM shop_member WHERE id = #{id}
	</select>
	
	   	<update id="userAddressUpdate" parameterType="UserDTO">
	   		UPDATE shop_member SET zipcode =#{zipcode}, road_addr =#{road_addr}, jibun_addr=#{jibun_addr}, detail_addr=#{detail_addr}
	   		WHERE id=#{id} 
	   </update>
	   
	   
	<update id="userPwUpdate" parameterType="UserDTO">
   		UPDATE shop_member SET pw=#{pw} WHERE id=#{id}
    </update> 
    
      <select id="usersList" resultType="UserDTO">
		SELECT * FROM shop_member
	</select>
	
	
	
	 <select id="totalCnt" resultType="Integer">
   		SELECT count(*) FROM shop_member
   		<include refid="usersBySearch"></include> 
	  </select>
	  
	  
	  <sql id="usersBySearch">
	  
	  	<if test= 'searchType == "I"'>
	  		WHERE id LIKE CONCAT('%',#{keyWord},'%')
	  	</if>
	  	
		<if test= "searchType == 'N'.toString()">
	  		WHERE name LIKE CONCAT('%',#{keyWord},'%')
	  	</if>
	  
	  </sql>
	  
	  
	   <select id="usersShow" resultType="UserDTO">
   	 		SELECT * FROM shop_member
   	 		<include refid="usersBySearch"></include>  
   	 		ORDER BY no DESC LIMIT #{startIndex}, #{cntPerPage}
   	 		
   	 	</select>
   	 		
  	   <delete id="usersDelete" parameterType="Integer">
   	 		DELETE FROM shop_member WHERE no = #{no}
   	 </delete>
   	   
   	   
	
</mapper> 